{% extends "cv/base.html" %}

{% load static %}
{% block portfolio_active %}active{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-lg-6">
            <div class="grid">
                <div class="heading">
                    <h4><i>Video Center</i></h4>
                </div>
                <div class="blank"></div>
                <p class="about">Video center est un site web complexe qui permet aux utilisateurs de partager des
                    vidéos sur internet. Des utilisateurs peuvent se connecter et s'enregistrer librement sur le site.
                    Le site vérifie également les adresses mail des membres. C'est un gros projet qui m'a permis de bien
                    comprendre PHP et Symfony.</p>
                <p>Technologies:</p>
                <span class="badge rounded-pill brown">PHP</span>
                <span class="badge rounded-pill brown">Symfony</span>
                <span class="badge rounded-pill brown">MySQL</span>
                <span class="badge rounded-pill brown">Bootstrap</span>
                <div class="blank-sm"></div>
                </br>
                <a href="https://github.com/mirotooo/projet_video_center" target="_blank"><button type="button"
                        class="btn btn-light">Lien vers le projet <i class="bi bi-github"></i></button></a>
            </div>
            <div class="grid">
                <div class="heading">
                    <h4><i>Microprojet</i></h4>
                </div>
                <div class="blank"></div>
                <p class="about">Le Microprojet est un jeu en Python ou l'utilisateur doit deviner des prix générés
                    aléatoirement. Le programme contient beaucoup d'options et de paramètres. Il se présente sous la
                    forme d'une application Python standard, l'utilisateur joue au travers du terminal.</p>
                <p>Technologies:</p>
                <span class="badge rounded-pill brown">Python</span>
                <div class="blank-sm"></div>
                </br>
                <a href="https://github.com/mirotooo/microprojet" target="_blank"><button type="button"
                        class="btn btn-light">Lien vers le projet <i class="bi bi-github"></i></button></a>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="grid">
                <div class="heading">
                    <h4><i>E-CITY</i></h4>
                </div>
                <div class="blank"></div>
                <p class="about">E-CITY est un miniprojet dont le but est de reproduire à l'identique le design d'une
                    page HTML (fourni par le formateur). Tout ça en partant de zéro, sans utiliser aucunes librairies.
                </p>
                <p>Technologies:</p>
                <span class="badge rounded-pill brown">HTML</span>
                <span class="badge rounded-pill brown">CSS</span>
                <span class="badge rounded-pill brown">JS</span>
                <div class="blank-sm"></div>
                </br>
                <a href="https://github.com/mirotooo/e-city" target="_blank"><button type="button"
                        class="btn btn-light">Lien vers le projet <i class="bi bi-github"></i></button></a>
            </div>
            <div class="grid">
                <div class="heading">
                    <h4><i>CV avec Django</i></h4>
                </div>
                <div class="blank"></div>
                <p class="about">Pour ma recherche de stage, j'ai réalisé une nouvelle version de mon CV dans un format HTML avec Django et Python pour la partie back-end..</p>
                <p>Technologies:</p>
                <span class="badge rounded-pill brown">Python</span>
                <span class="badge rounded-pill brown">Django</span>
                <span class="badge rounded-pill brown">Bootstrap</span>
                <div class="blank-sm"></div>
                </br>
                <a href="https://github.com/mirotooo/cv_django" target="_blank"><button type="button"
                        class="btn btn-light">Lien vers le projet <i class="bi bi-github"></i></button></a>
            </div>

        </div>
    </div>
</div>
{% endblock %}