:root {
    --main-color: #dd9463;
    --secondary-color: #d8a47d;
}

.grid {
    border: #e4e4e4 solid 1px;
    border-radius: 10px;
    margin: 15px;
    padding: 25px;
}

.profile {
    filter: drop-shadow(8px 8px 4px #b2b2b2);
    border-radius: 50px;
}

.brown {
    background-color: var(--main-color) !important;
}

a {
    color: var(--main-color) !important;
    text-decoration: none;
}

h4 {
    margin-bottom: 0 !important
}

.languages {
    text-align: left
}

.about {
    text-align: justify;
    padding: 15px
}

.heading {
    text-align: left;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--secondary-color);
    border-radius: 25px;
    color: #FFF
}

.container-sm {
    width: 80%
}

.blank {
    margin: 20px;
}

.blank-sm {
    margin: 10px;
}

.blank-xl {
    margin: 60px;
}

body {
    font-family: 'Open Sans', sans-serif !important;
}